.postLink{
    font-style: italic;
    color: #0f93b4;
    margin-left: 8px;
}

.post{
    border-bottom: 2px solid #c0c0c0;
    color: black;
    padding: 10px;
    margin: 20px 0;
}

.postTitle{
    color: #4e4e4e;
    font-size: 1.5em;
    margin: 3px;
    font-weight: bold;
}
